NodeRed-HeatSystemStats
[{"id":"d431b41c.46a898","type":"tab","label":"HeatSystemStats","disabled":false,"info":""},{"id":"ed252bf7.9b2858","type":"serial in","z":"d431b41c.46a898","name":"Arduino","serial":"d621d4ee.325c08","x":310,"y":360,"wires":[["1f2bf823.bbd038"]]},{"id":"1f2bf823.bbd038","type":"function","z":"d431b41c.46a898","name":"Tri messages","func":"var inmsg = msg.payload.split(\":\");\nif(inmsg[0]==\"Temperature\"){\n    var temperature = {payload:inmsg[1]};\n}\nif(inmsg[0]==\"Humidity\"){\n    var humidity = {payload:inmsg[1]};\n}\nif(inmsg[0]==\"time\"){\n    var heatTime = {payload:inmsg[1]};\n}\nif(inmsg[0]==\"TemperatureGraph\"){\n    var tGraphe = {payload:inmsg[1]};\n}\n\nreturn [temperature,humidity,heatTime,tGraphe];","outputs":4,"noerr":0,"x":530,"y":360,"wires":[["454227e4.d26e28"],["1317bd72.188773"],["eaa91048.459b7","e797b5fb.031628"],["383fb9df.ed1826"]]},{"id":"454227e4.d26e28","type":"function","z":"d431b41c.46a898","name":"Conversion Float","func":"var outmsg = {payload:parseFloat(msg.payload)};\nreturn outmsg;","outputs":1,"noerr":0,"x":790,"y":320,"wires":[["bd8d6e83.3725f","5ef87e40.900c3"]]},{"id":"1317bd72.188773","type":"function","z":"d431b41c.46a898","name":"Conversion Float","func":"var outmsg = {payload:parseFloat(msg.payload)};\nreturn outmsg;","outputs":1,"noerr":0,"x":790,"y":380,"wires":[["465d90b.f81ec7"]]},{"id":"bd8d6e83.3725f","type":"ui_gauge","z":"d431b41c.46a898","name":"Temperature","group":"7bd12a6d.13a764","order":12,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degré C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":320,"wires":[]},{"id":"465d90b.f81ec7","type":"ui_gauge","z":"d431b41c.46a898","name":"Humidité","group":"7bd12a6d.13a764","order":12,"width":0,"height":0,"gtype":"gage","title":"Humidité","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#00b500","#3e38ca"],"seg1":"50","seg2":"70","x":1020,"y":380,"wires":[]},{"id":"9def22fa.1d2ad","type":"ui_text","z":"d431b41c.46a898","group":"7bd12a6d.13a764","order":12,"width":0,"height":0,"name":"Temps chauffage approx","label":"Temps chauffage approx.","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":440,"wires":[]},{"id":"eaa91048.459b7","type":"function","z":"d431b41c.46a898","name":"Date et payload","func":"var d = Date();\npayload = {\"time\":d,\"payload\":msg.payload};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":500,"wires":[["f81b462.2cc05b8"]]},{"id":"f81b462.2cc05b8","type":"csv","z":"d431b41c.46a898","name":"","sep":";","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":950,"y":560,"wires":[[]]},{"id":"e797b5fb.031628","type":"function","z":"d431b41c.46a898","name":"Incrementation secondes totale","func":"var count = context.get('count') || 0;\ncount = count + msg.payload;\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":440,"wires":[["9def22fa.1d2ad"]]},{"id":"5ef87e40.900c3","type":"ui_chart","z":"d431b41c.46a898","name":"Temperature","group":"83f78dba.774a3","order":3,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":240,"wires":[[]]},{"id":"383fb9df.ed1826","type":"function","z":"d431b41c.46a898","name":"Date et payload","func":"var d =new Date();\nvar day=d.getDate();\nvar month=d.getMonth();\nvar year=d.getFullYear();\nif(day<=9)\nday=\"0\"+day;\nif(month<=9)\nmonth=\"0\"+(month+1);\nvar fileName= year+\"-\"+month+\"-\"+day;\n\nvar date = Date();\nmsg.filename = \"/home/pi/Documents/Stats_chauffage/Temperature\"+ fileName +\".log\";\nvar payload = {time:date, payload:parseFloat(msg.payload)};\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":580,"wires":[["36b2cfe9.269a3","29a50070.7b468"]]},{"id":"36b2cfe9.269a3","type":"csv","z":"d431b41c.46a898","name":"","sep":";","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":950,"y":600,"wires":[["7592df7.d71462"]]},{"id":"7592df7.d71462","type":"file","z":"d431b41c.46a898","name":"Save to file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1170,"y":600,"wires":[[]]},{"id":"29a50070.7b468","type":"debug","z":"d431b41c.46a898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":740,"wires":[]},{"id":"d621d4ee.325c08","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"7bd12a6d.13a764","type":"ui_group","z":"","name":"État actuel chauffage","tab":"875c45d7.742478","order":1,"disp":true,"width":"6","collapse":false},{"id":"83f78dba.774a3","type":"ui_group","z":"","name":"Evolution de la temperature","tab":"875c45d7.742478","order":2,"disp":true,"width":"27","collapse":false},{"id":"875c45d7.742478","type":"ui_tab","z":"","name":"Stats chauffage","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
